*{
    margin:0px;

}
h1{
    background-color: rgb(1, 41, 61);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding: 20px 10px;
    
}
h1::first-letter{
    font-size: 2em;
}
.navbar ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding:15px;
    display:block;
    
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 80%);
}
.navbar li{
    float:left;
}
.navbar a:active{
    background-color: black;
}
#home{
    background-color: black;
}
#home a{
    color:white;
}
#search{
    float:right;
}
p{
    background-color: lightgrey;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#weather{
    color: hsl(0, 0%, 30%);
    text-align:right;
    background-color: lightgrey;
    float:right;
    padding-right: 10px;
   
    
}


#article1{
    background-image:url(industry.jpg);
    height:465px;
    width:30%;
    position:relative;
    top:40px;
    left:20px;
    
}

#article1 button{
    background-color: hsl(0, 0%, 2%);
    color: white;
    border-radius: 20px;
   position:relative;
   top:340px;
   left: 20px;
   margin-right: 10px;
   border:0px;
}

#order{
    color: white;
    position:absolute;
    top:360px;
    left:-15px;
    list-style-type: none;
}
#line1{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#line2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    padding-top: 10px;
    font-size: .7em;
    float:left;
}
#line3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    left:120px;
    font-size: 0.7em;
    padding-top: 10px;
}

#article2{
    background-image: url(celebrity.jpg);
    height:465px;
    width:15.8%;
    position:relative;
    left:500px;
    top:-425px;
    padding-left: 10px;
    float:left;
}
#article2 button{
    background-color: hsl(0, 0%, 2%);
    color: white;
    border-radius: 20px;
   position:relative;
   top:340px;
   left: 10px;
   margin-right: 10px;
   border:0px;
}

#order1{
    color: white;
    position:absolute;
    top:360px;
    left:-15px;
    list-style-type: none;
}
#line4{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#line5{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    font-size: .7em;
    
}
#line6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    top:90px;
    font-size: 0.7em;
}
#article3{
    background-image: url(crime.jpg);
    height:220px;
    width:15%;
    position:relative;
    left:770px;
    top:-425px;
}
#article3 button{
    background-color: hsl(0, 0%, 2%);
    color: white;
    border-radius: 20px;
   position:absolute;
   top:90px;
   left: 20px;
   margin-right: 10px;
   border:0px;
}

#order2{
    color: white;
    position:absolute;
    top:110px;
    left:-15px;
    list-style-type: none;
}
#line7{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#line8{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    font-size: .7em;
    
}
#line9{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    top:90px;
    font-size: 0.7em;
}
#article4{
    background-image: url(stocks.jpg);
    height:220px;
    width:15%;
    position:relative;
    left:770px;
    top:-400px;
}
#article4 button{
    background-color: hsl(0, 0%, 2%);
    color: white;
    border-radius: 20px;
   position:absolute;
   top:90px;
   left: 20px;
   margin-right: 10px;
   border:0px;
}

#order3{
    color: white;
    position:absolute;
    top:110px;
    left:-15px;
    list-style-type: none;
}
#line10{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#line11{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    font-size: .7em;
    
}
#line12{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    top:90px;
    font-size: 0.7em;
    float:left;
}
#box{
    background-color: white;
    position:relative;
    left:1030px;
    top:-865px;
    height: 465px;
    width:30%;

}
#right{
    list-style-type: none;
    overflow:hidden;
    position: relative;
    left:-250px;
    
}
#header1 a{
    color:white;
    background-color: black;
    padding:15px;
    display:block;
    text-align:center;
    text-decoration: none;
    font-size: 1.3em;
    
}
#header2 a{
    background-color:white;
    color: black;
    padding:15px;
    display:block;
    text-align:center;
    text-decoration: none;
    font-size: 1.3em;
}
#header1{
    float:left;
}
#idk{
    list-style-type: none;
}

#img1{
    float:left;
}
#art1{
    padding-top: 30px;
}
#art1 li{
    padding-left: 80px;

}
#a{
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#b{
    font-size: 1em;
    color: lightslategray;
    padding-top: 10px;
}
#img2{
    float:left;
}
#art2{
    padding-top: 40px;
}
#art2 li{
    padding-left: 80px;

}
#c{
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#d{
    font-size: 1em;
    color: lightslategray;
    padding-top: 10px;
}
#img3{
    float:left;
}
#art3{
    padding-top: 40px;
}
#art3 li{
    padding-left: 80px;

}
#e{
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#f{
    font-size: 1em;
    color: lightslategray;
    padding-top: 10px;
}
#img4{
    float:left;
}
#art4{
    padding-top: 40px;
}
#art4 li{
    padding-left: 80px;

}
#g{
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#h{
    font-size: 1em;
    color: lightslategray;
    padding-top: 10px;
}